
<html>
<head>

   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
   <script src="{{url_for('static',filename='scripts/dateTimeFormatter.js')}}" defer></script>
</head>

<body>
   <ul>
      <li><a href="{{url_for('userHome', id=id)}}">Home</a></li>
      <li><a class="active" href="{{ url_for('setSchedule', id=id)}}">Schedule Appointment</a></li>
      <li><a href="{{ url_for('profile', id=user['public_id'])}}">Profile</a></li>
      <li><a href="{{ url_for('login')}}">Logout</a></li>

    </ul>

   <br>
<h2>Create Appointment</h2>

<table border = 6>
        <thead style="font-weight: bold; text-align: center;">
           <td>Provider</td>
           <td>Start Time</td>
           <td>End Time</td>
           <td>Day</td>
           <td>Notes</td>
        </thead>
        <!--Styles for table-->

        {% for app in appointments %}
        <tr>
        <form action="{{ url_for('addAppointment', appId=app['_id'], user_id=id)}}" method="POST" role="form">
          <td>{{ app['provider_name']}}</td>
          <td class="time">{{ app['start_time']}}</td>
          <td class="time">{{ app['end_time']}}</td>
          <td>{{ app['date'] }}</td>
            <td><input name="notes" class="form-control" type="text" placeholder="Notes (optional)" /></td>
          <td>
              <button type="submit">Submit</button>
              <a href="{{ url_for('addAppointment', appId=app._id, user_id=id) }}"><img class="plus" title="Add" src="{{url_for('static',filename='imgs/plus.png')}}"></a>
          </td>
        </form>
        </tr>
        {% endfor %}
     </table>

     <br>
      
</body>


</html>

       
