<html>
<head>
    <title>Appointment Scheduler System</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body style="background-color: black;">
    <div class="center" >
   
    
    <form class="login" role="form" method="post" action="{{ url_for('login')}}">
        <h1>Appointment Scheduler System</h1>

        <br><br>
        <span>Username</span> <input name="username" type="text" class="form-control" placeholder="enter username" />
        <br>
        <span>Password</span> <input name="password" type="password" class="form-control" placeholder="enter password" />
        <br>
        <input type="submit">
        <br>
        <a href="{{ url_for('register')}}">Register</a>
    </form>
</div>
</body>

</html>