<html>
      <head>
       
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
      </head>  
      <body>
        <ul>
                {% if user['role'] == "user" %}
                <li><a  href="{{url_for('userHome', id=user['public_id'])}}">Home</a></li>
                {% elif user['role'] == "provider" %}
                <li><a  href="{{url_for('providerHome', id=user['public_id'])}}">Home</a></li>
                {% endif %}
                {% if user['role'] == "user" %}
                <li><a href="{{ url_for('createAppointment', id=user['public_id'])}}">Schedule Appointment</a></li>
                {% elif user['role'] == "provider" %}
                <li><a href="{{ url_for('setSchedule', id=user['public_id'])}}">Availability</a></li>
                {% endif %}

                <li><a class="active" href="{{ url_for('profile', id=user['public_id'])}}">Profile</a></li>
                <li><a href="{{ url_for('login')}}">Logout</a></li>
                
              </ul>

      
<h1>Your profile</h1>



    
    

        <big> Welcome {{  user['username'] }}</big>

        <br><br>
        <form action="{{ url_for('update')}}" method="POST" role="form">
        <table border = 6>
                


                <input value="{{ user['public_id'] }}" type="text" class="form-control" name="public_id" style="display:none">
                <tr>
                    <td>{{ user['username'] }} </td>
                    <td><button type="button" id="myBtn" onclick="document.getElementById('changeUsername').style = 'display: normal'; document.getElementById('submit').style = 'display: normal'; this.style = 'display: none'">Change</button><input style = 'display:none' id="changeUsername" name="newUser"></td>
                </tr>
                <tr>
                    <td>{{ user['email'] }} </td>
                    <td><button type="button" id="myBtn1" onclick="document.getElementById('changeEmail').style = 'display: normal; '; document.getElementById('submit').style = 'display: normal'; this.style = 'display: none'">Change</button><input style = 'display:none' id="changeEmail" name="newEmail"></td>
                </tr>
                <tr>
                    <td>{{ user['phone'] }} </td>
                    <td><button type="button" id="myBtn2" onclick="document.getElementById('changePhone').style = 'display: normal'; document.getElementById('submit').style = 'display: normal'; this.style = 'display: none'">Change</button><input style = 'display:none' id="changePhone" name="newPhone"></td>
                </tr>



        </table>
            <button id="submit" type="submit" style="display:none">Submit</button>
        </form>

        <a href="{{ url_for('change_password', id=user['public_id'])}}">Reset password</a>


        <br>
       

        <br>
      
        </body>
        </html>
       
