<h1>Appointment Scheduler System (Provider)</h1>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    
    

        <big> Welcome {{  user['username'] }}</big>

        <table border = 6>
                <thead style="font-weight: bold; text-align: center;">
                <td>Provider</td>
                <td>Start Time</td>
                <td>End Time</td>
                <td>Day</td>
                <td>Customer</td>
                </thead>
                <!--Styles for table-->
                
                {% for app in appointments %}
                <tr>
                <td>{{ app['provider_name']}}</td>
                <td>{{ app['start_time']}}</td>
                <td>{{ app['end_time']}}</td>
                <td>{{ app['date'] }}</td>
                <td>{{ app['customer_name'] }}</td>
                </tr>
                {% endfor %}
        </table>


        <br>
        <a href="{{ url_for('setSchedule', id=user['public_id'])}}">Set Availability</a>

        <br>
        <a href="{{ url_for('login')}}">Log Out</a>


       