<html>
      <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <script src="{{url_for('static',filename='scripts/dateTimeFormatter.js')}}" defer></script>
      </head>  
      <body style="background-color: #ede9df;">
        <ul>
                <li><a class="active" href="{{url_for('providerHome', id=user['public_id'])}}">Home</a></li>
                <li><a href="{{ url_for('setSchedule', id=user['public_id'])}}">Availability</a></li>
                <li><a href="{{ url_for('profile', id=user['public_id'])}}">Profile</a></li>
                <li><a href="{{ url_for('login')}}">Logout</a></li>
                
              </ul>

      
<h1> Current Appointments</h1>



    
    

        <big> Welcome {{  user['username'] }}</big>
<br><br>
        <table border = 6>
                <caption>Upcoming Appointments</caption>
                <thead style="font-weight: bold; text-align: center;">
                <td>Provider</td>
                <td>Start Time</td>
                <td>End Time</td>
                <td>Day</td>
                <td>Client</td>
                <td>Delete</td>
                </thead>
                <!--Styles for table-->
                
                {% for app in appointments_future %}
                <tr>
                <td>{{ app['provider_name']}}</td>
                <td class="time">{{ app['start_time']}}</td>
                <td class="time">{{ app['end_time']}}</td>
                <td>{{ app['date'] }}</td>
                <td>{{ app['customer_name'] }}</td>
                <td><a href="{{ url_for('deleteAppointment', id=user['public_id'] ,appointmentid=app['_id'])}}"><img title="Delete" src="{{url_for('static',filename='imgs/trash.png')}}"></a></img></a></td>
                </tr>
                {% endfor %}
        </table>
        <br>
        <table border = 6>
                <caption>Past Appointments</caption>
                <thead style="font-weight: bold; text-align: center;">
                <td>Provider</td>
                <td>Start Time</td>
                <td>End Time</td>
                <td>Day</td>
                <td>Client</td>
                <td>Delete</td>
                </thead>
                <!--Styles for table-->
                
                {% for app in past_appointments %}
                <tr>
                <td>{{ app['provider_name']}}</td>
                <td class="time">{{ app['start_time']}}</td>
                <td class="time">{{ app['end_time']}}</td>
                <td>{{ app['date'] }}</td>
                <td>{{ app['customer_name'] }}</td>
                <td><a href="{{ url_for('deleteAppointment', id=user['public_id'] ,appointmentid=app['_id'])}}"><img title="Delete" src="{{url_for('static',filename='imgs/trash.png')}}"></a></img></a></td>
                </tr>
                {% endfor %}
          </table>


        <br>
       

        <br>
      
        </body>
        </html>
       