<html>
<head>
    <title>Appointment Scheduler System</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>

<body style = "background-color: black">
    <div class="center">

    <form class="login" action="{{ url_for('change_password', id=id)}}" method="POST" role="form">
        <h1>Change Password for {{ username }}</h1>
        Current Password <input name="currentpassword" type="password" class="form-control" placeholder="enter password" />
        <br>
        New Password <input name="newpassword" type="password" class="form-control" placeholder="enter password" />
        <br>
        <input type="submit">
        <a href="{{ url_for('login')}}">Cancel</a>
    </form>

    <br>
    </div>

</body>

</html>
