<html>
        <head>

                
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        </head>

        <body>
                <ul>
                        <li><a class="active" href="{{url_for('providerHome', id=user['public_id'])}}">Home</a></li>
                        <li><a href="{{ url_for('createAppointment', id=user['public_id'])}}">Schedule Appointment</a></li>
                        <li><a href="{{ url_for('profile'), id=user['public_id']}}">Profile</a></li>
                        <li><a href="{{ url_for('login')}}">Logout</a></li>
              
                      </ul>
                <h1>Appointment Scheduler System (User)</h1>


    
    

                <big> Welcome {{  user['username'] }}</big>
        
                <table border = 6>
                        <thead style="font-weight: bold; text-align: center;">
                        <td>Provider</td>
                        <td>Start Time</td>
                        <td>End Time</td>
                        <td>Day</td>
                        <td>Delete</td>
        
                        </thead>
                         <!--Styles for table-->
                 
                        {% for app in appointments %}
                        <tr>
                        <td>{{ app['provider_name']}}</td>
                        <td>{{ app['start_time']}}</td>
                        <td>{{ app['end_time']}}</td>
                        <td>{{ app['date'] }}</td>
                        <td><a href="{{ url_for('deleteAppointment', id=user['public_id'] ,appointmentid=app['_id'])}}"><img title="Delete" src="{{url_for('static',filename='imgs/trash.png')}}"></a></img></a></td>
        
                        </tr>
                        {% endfor %}
                </table>
        
        
              
        
        

        </body>
</html>