
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4f88cc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  input[type=time]{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  body{
    background-color: #ede9df;;
  }
  
  table{
    background: floralwhite;
  }
  
  .plus{
    height :20px;
  }

  img {
    height: 30px;;
    width: max-content;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  span {
    float:left;
  }


  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-family: 'Lexend Deca', sans-serif;
  }
  big {
    font-family: 'Lexend Deca', sans-serif;
  }
  
  h1{
    font-family: 'lexend Deca', sans-serif;
  }
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  thead{
    background-color: #bbdaff;
    
  }

  .active {
    background-color: #4f88cc;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  .login {
    border-radius: 5px;
    background-color: #d9e0dc;
    padding: 20px;
  }

